<!-- This shows all hotel listings from db -->
<% layout('layouts/boilerplate') %>
<body>
  <div class="container">
    <div class="add-btn">
      <a href="/listings/new" class="btn">+ Add New Listing</a>
    </div>
    <h1>All Listings</h1>
    <ul>
      <% alllistings.forEach(listing => { %>
      <li>
        <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
      </li>
      <% }); %>
    </ul>
  </div>
</body>
